.header{
    background: #ffffff;
    border-bottom: solid #cccccc;
    height: 60px;
    width:100%;
    text-align: right;
    position: relative;
    top: -10px;
    left: -10px; 
    padding-top:30px;
    padding-right:30px;



}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}
h1{
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color:#ffffff;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

hr {
    color:#cccccc;
    height: 150%;
}

.nameBox {
    background: #4aaaa5;
    width: 18%;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 275px;
    padding-bottom: 15px;
    
}

.navbar{
    position: absolute;
    right: 315px;
    word-spacing: 20px;
}
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-indent: 16px;
}
body {
    background-image: 
        url("../images/escheresque/escheresque/escheresque.png");
    min-width: 960px;
 
    
    }


.connectBox{
    width:226px;
    background: #ffffff;
    border: solid #cccccc;
    position: absolute;
    top: 142px;
    right:290px;
    padding:20px;
  
   

}


.githubPic, .linkedinPic, .stackPic{
    height: 70px;
    width: 70px;
}



.footer{
    position: fixed;
    bottom: 0;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    width:100%;
    align-content: center;
    color: #eeeeee;
    height: 15px;
    text-align: center;
    padding:30px;
    font-size: 85%;
    z-index: 2
    

}




.aboutmeBox {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 260px;
    padding:20px;
   

}


.profilePhoto {
    float: left;
    width :225px;
    height: 225px;
    margin:10px;
    
}



.portfolioBox {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 267px;
    margin-bottom: 80px;
    padding:20px;


}

.portfolioBox img {
    width: 250px;
    height: auto;
    margin: 20px;
    vertical-align: top;
    position: relative;

}

.leftImg {
    float:left;
}

.rightImg {
    float:right;
}

.portfolioBox div {
    width: 250px;
    height: 30px;
    background: #4aaaa5;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    font-size: 120%;
    padding-top: 10px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.hangmanBanner {
    top: 250px;
    left: 40px;
    

}

.rpgBanner {
    top: 250px;
    right: 40px;
    z-index: 1

}

.triviaBanner {
    top: 480px;
    left: 40px;
    z-index: 1

}

.rutgersBanner {
    top: 480px;
    right: 40px;
    z-index: 1

}

.contactForm {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 267px;
    margin-bottom: 80px;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

textarea {
    width: 100%;
    height: 200px;
    border: solid thin #cccccc;
    columns: #777777;
}

.nameInput, .emailInput {
    width: 97.5%;
    border: solid thin #cccccc;
    height: 10px;
    padding: 10px;
    color: #777777;
    
}

placeholder {
    color: #c1bbc1;
}



.submitButton {
    margin: 15px;
    padding: 15px;
    background: #4aaaa5;
    border: none;
    color: #eeeeee;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.submitButton:hover {
    background: #cccccc;
    color: #4aaaa5
}

.submitButton:active {
    background: #eeeeee;
    color: #4aaaa5
}