.header{
    background: #ffffff;
    border-bottom: solid #cccccc;
    height: 60px;
    width:100%;
    text-align: right;
    position: relative;
    top: -10px;
    left: -10px; 
    padding-top:30px;
    padding-right:30px;



}

a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
}
h1{
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color:#ffffff
    
}
h2 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color:#4aaaa5
}

.nameBox {
    background: #4aaaa5;
    width:20%;
    height:60px;
    text-align: center;
    position: absolute;
    top: 5px;
    left:268px;
    padding-bottom:15px;
    
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
body {
    background-image: 
        url("../images/escheresque/escheresque/escheresque.png");
    min-width: 960px;
    margin: 0;
    padding: 0;
    
    }


.connectBox{
    width:226px;
    background: #ffffff;
    border: solid #cccccc;
    float: right;
    position: relative;
    top: 50px;
    right:267px;
    padding:20px;
  
   

}

.githubPic, .linkedinPic, .stackPic{
    height: 70px;
    width: 70px;
}



.footer{
    position: fixed;
    bottom: 0;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
    width:100%;
    align-content: center;
    color: #eeeeee;
    height: 15px;
    text-align: center;
    padding:30px;
    font-size: 85%;
    z-index: 2

    



}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}




.aboutmeBox {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 267px;
    margin-bottom: 80px;
    padding:20px;
   

}


.profilePhoto {
    float: left;
    width :225px;
    height: 225px;
    margin:10px;
    
}

.aboutmeText1 {
    float: right;
    vertical-align: top;
 
}

.portfolioBox {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 267px;
    margin-bottom: 80px;
    padding:20px;


}

.portfolioBox img {
    width: 250px;
    height: auto;
    margin: 20px;
    vertical-align: top;
    position: relative;

}

.leftImg {
    float:left;
}

.rightImg {
    float:right;
}

.portfolioBox div {
    width: 250px;
    height: 30px;
    background: #4aaaa5;
    color: #eeeeee;
    text-align: center;
    position: absolute;
    font-size: 120%;
    padding-top: 10px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.hangmanBanner {
    top: 250px;
    left: 40px;
    

}

.rpgBanner {
    top: 250px;
    right: 40px;
    z-index: 1

}

.triviaBanner {
    top: 480px;
    left: 40px;
    z-index: 1

}

.rutgersBanner {
    top: 480px;
    right: 40px;
    z-index: 1

}

.contactForm {
    float:left;
    width: 606px;
    background: #ffffff;
    border: solid #cccccc;
    position: relative;
    top: 50px;
    left: 267px;
    margin-bottom: 80px;
    padding:20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

textarea {
    width: 100%;
    height: 200px;
    border: solid thin #cccccc;
    columns: #777777;
}

.nameInput, .emailInput {
    width: 97.5%;
    border: solid thin #cccccc;
    height: 10px;
    padding: 10px;
    color: #777777;
    
}

placeholder {
    color: #c1bbc1
}

.submitButton {
    margin: 15px;
    padding: 15px;
    background: #4aaaa5;
    border: none;
    color: #eeeeee;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

}